<footer class="android-footer mdl-mega-footer">
    <div class="mdl-mega-footer--top-section">
        <div class="mdl-mega-footer--left-section">
            <p class="mdl-typography--font-light"></p>
            <p class="mdl-typography--font-light">Copyright: © 2016 hxsf, All Rights Reserved.</p>
        </div>
        <div class="mdl-mega-footer--right-section">
            <a class="mdl-typography--font-light" href="#top">
                Back to Top
                <i class="material-icons">expand_less</i>
            </a>
        </div>
    </div>

</footer>
