<div class="snippets mainbody">
    <div class="mdl-card title-item mdl-shadow--8dp">
        <div class="mdl-card__title mdl-color--blue">
            <h2 id="top" class="mdl-card__title-text mdl-color-text--white">关于</h2>
        </div>
        <div class="mdl-card__supporting-text markdown-body">

            <blockquote>
                <p>Author: hxsf
                    <br/> Date: 2016-02-20</p>
            </blockquote>

            <ul>
                <li>
                    <a href="#toc_1">本项目</a>
                    <ul>
                        <li>
                            <a href="#cause">由来</a>
                        </li>
                        <li>
                            <a href="#aim">目的</a>
                        </li>
                        <li>
                            <a href="#require">额外需求</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#me">我</a>
                </li>
                <li>
                    <a href="#markdown">Markdown</a>
                </li>
            </ul>


            <h2 id="toc_1">本项目</h2>

            <h3 id="cause">由来</h3>

            <p>由于平时项目和交流中共享代码段的繁琐:</p>

            <ol>
                <li>
                    <p>别人代码出错时，可能会被这样问我:</p>

                    <ul>
                        <li>
                            <p>直接丢过来一串代码</p>

                            <p><img src="http://7u2h54.com1.z0.glb.clouddn.com/codesnippets/demo1.png" alt="demo1" />
                                <br/> 卧槽中间的表情什么鬼
                            </p>
                        </li>
                        <li>
                            <p>丢过来一张截图</p>

                            <p><img src="http://7u2h54.com1.z0.glb.clouddn.com/codesnippets/demo2.png" alt="demo2" />
                                <br/> 你过来，我保证不砍死你。这是要我照着图敲一遍然后调试么？
                            </p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p>自己写了点有意思的东西，想分(zhuang)享(13)的时候</p>

                    <ul>
                        <li>小东西不值得git repo，费时费力，还会造成资源浪费。</li>
                        <li>截图截不全、直接贴代码没有合适和高亮，都无法有一个良好的阅读体验。</li>
                    </ul>
                </li>
            </ol>

            <p>于是，大年初一码了一天，做了这个网站。</p>

            <p>目的很简单。</p>

            <h3 id="aim">目的</h3>

            <ul>
                <li>操作要简单。

                    <ul>
                        <li>说明支持Markdown标记式语法</li>
                        <li>无需注册登陆即可直接使用</li>
                    </ul>
                </li>
                <li>流程要少。

                    <ol>
                        <li>填写标题、说明</li>
                        <li>粘贴代码</li>
                        <li>提交获得分享网址</li>
                    </ol>
                </li>
                <li>看着要舒服。

                    <ul>
                        <li>支持178种语法的高亮</li>
                        <li>网站整体风格采用Material Design设计风格</li>
                    </ul>
                </li>
                <li>照顾爪机党。

                    <ul>
                        <li>移动优先设计</li>
                        <li>响应式设计</li>
                        <li>覆盖分辨率有

                            <ol>
                                <li>手机 (0 ~ 480px)</li>
                                <li>平板 (480 ~ 840px)</li>
                                <li>普通电脑 (840 ~ 1200px)</li>
                                <li>超大显示器 (1200px+)</li>
                            </ol>
                        </li>
                    </ul>
                </li>
            </ul>

            <h3 id="require">额外需求</h3>

            <p>个人服务器不大，容不下太多数据，并且考虑到有些代码段（<em>如求助类的</em>）不需要长期保留。
                <br/> 于是决定未登录用户只能发布临时代码段。已登录用户可选是否长期保存。
            </p>

            <h2 id="me">我</h2>

            <p>ID: 呼啸随风
                <br/> 目前就读于 <strong>江苏科技大学</strong> 软件工程 大三
                <br/> Email: <code>echo aHhzZmNmYzRkMGE1QGdtYWlsLmNvbQo= | base64 -D</code></p>

            <h2 id="markdown">Markdown</h2>

            <ul>
                <li><a href="http://www.jianshu.com/p/1e402922ee32/" target="_blank">简明入门指南</a></li>
                <li><a href="/help/basic.html" target="_blank">快速入门手册</a></li>
                <li><a href="/help/index.html" target="_blank">完整语法说明</a></li>
            </ul>

            <p>本项目所有文本均通过Markdown语法生成。</p>


        </div>
    </div>
</div>
{{> footer}}
