<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A website to share your code snippets.">
    <title>CodeSnippets</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/android-desktop.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="shortcut icon" href="images/favicon.png">

    <link rel="stylesheet" href="/fonts/material-icons.css">
    <link rel="stylesheet" href="/stylesheets/material.min.css">
    <link rel="stylesheet" href="/stylesheets/highlight.css">
    <link rel="stylesheet" href="/stylesheets/github-markdown.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>

<body id="top">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        {{> nav}}
        {{{body}}}
    </div>
    <script src="/javascripts/material.min.js"></script>
</body>

</html>
