<form action="/users/new" method="post">
    <input type="text" name="title" autocomplete="off" required="required" />
    <textarea name="remark" rows="10" cols="80" resize="noresize"></textarea>
    <textarea name="codes" rows="10" cols="80" resize="noresize"></textarea>
    <textarea name="codes" rows="10" cols="80" resize="noresize"></textarea>
    <textarea name="codes" rows="10" cols="80" resize="noresize"></textarea>
    <input type="submit" value="submit" />
</form>
<style media="screen">
    form > input {width: 500px;}
    form > * {display: block;margin: 10px auto;}
</style>
